<!-- news -->
<div class="news">

  <!-- Label -->
  <div class="label">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
  </div>

  <!-- Excerpt -->
  <div class="excerpt">

    <!-- Brief -->
    <div class="brief">
      <a class="name">John Doe</a> added you as a friend
      <div class="date">1 hour ago</div>
    </div>

    <!-- Feed footer -->
    <div class="feed-footer">
      <a class="like">
        <i class="fas fa-heart"></i>
        <span>5 likes</span>
      </a>
    </div>

  </div>
  <!-- Excerpt -->

</div>
<!-- news -->
