<form #commentForm="ngForm" >

  <!-- Tags -->
    <tag-input [(ngModel)]="tags"  name="commentTags"  [onlyFromAutocomplete]="true" class="mb-sm-2">
        <tag-input-dropdown [autocompleteObservable]="requestedTags" [identifyBy]="'Id'" [displayBy]="'Email'"></tag-input-dropdown>
      </tag-input>

  <!-- Content -->
  <div class="input-group">
    <textarea class="form-control rounded-0" name="Content" [(ngModel)]="comment.Content" aria-label="content" placeholder="What do you think?"></textarea>
  </div>

  <!-- image -->
  <div class="file-field md-form">
      <div class="btn btn-info btn-sm float-center">
        <span>Choose pics</span>
        <input  class="form-control file-input" type="file" (change)="onFileChanged($event)" accept="image/*">
      </div>
    </div>

    <img id=uploaded-img [src]="imgSrc" class="rounded mx-auto d-block" style="width: 200px" [alt]="comment.Pic.name" *ngIf="imgSrc">

  <!-- Submit button -->
  <button [disabled]="!comment.Content && !comment.ImgUrl && !comment.Pic && !tags" class="btn btn-primary btn-block mt-sm-2" type="submit" (click)="onSubmit()">Send</button>
</form>
