<form #commentForm="ngForm" >

  <!-- Tags -->
    <tag-input [(ngModel)]="tags"  name="commentTags"  [onlyFromAutocomplete]="true" class="mb-sm-2">
        <tag-input-dropdown [autocompleteObservable]="requestedTags" [identifyBy]="'Id'" [displayBy]="'Email'"></tag-input-dropdown>
      </tag-input>

  <!-- Content -->
  <div class="input-group">
    <textarea class="form-control rounded-0" name="Content" [(ngModel)]="comment.Content" aria-label="content" placeholder="What do you think?"></textarea>
  </div>


  <!-- Submit button -->
  <button [disabled]="!comment.Content && !comment.ImgUrl && !comment.Pic && !tags" class="btn btn-primary btn-block mt-sm-2" type="submit" (click)="onSubmit()">Send</button>
</form>
