<!-- Newsfeed -->
<div class="mdb-feed">

  <!-- First news -->
  <div class="news">

    <!-- Label -->
    <div class="label">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
    </div>

    <!-- Excerpt -->
    <div class="excerpt">

      <!-- Brief -->
      <div class="brief">
        <a class="name">{{user.Name}}</a>
        <div class="Email">{{user.Email}}</div>
      </div>

      <!-- Feed footer -->
      <button size="sm" type="button" mdbBtn class="success-color"   mdbWavesEffect>follow</button>
      <button size="sm" type="button" mdbBtn class="warning-color"  mdbWavesEffect>unfollow</button>
      <button size="sm" type="button" mdbBtn class="danger-color"  mdbWavesEffect>block</button>


    </div>
    <!-- Excerpt -->

  </div>
  <!-- First news -->
</div>
