<div class="row">

    <!-- Grid column -->
    <div class="col-md-6 col-lg-4">

      <!-- Card -->
      <mdb-card class="news-card">

        <!-- Heading-->
        <mdb-card-body>
          <div class="content">
            <div class="right-side-meta">14 h</div>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle avatar-img z-depth-1-half">Kate
          </div>
        </mdb-card-body>

        <!-- Card image-->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/girl1.jpg"></mdb-card-img>

        <!-- Card content -->
        <mdb-card-body>

          <!-- Social meta-->
          <div class="social-meta">
            <p>Another great adventure! </p>
            <span><i class="fa fa-heart-o"></i>25 likes</span>
            <p><i class="fa fa-comment"></i>13 comments</p>
          </div>
          <hr>
          <!-- Comment input -->
          <div class="md-form">
            <i class="fa fa-heart-o prefix"></i>
            <input placeholder="Add Comment..." type="text" id="form5" class="form-control">
          </div>

        </mdb-card-body>
        <!-- Card content -->

      </mdb-card>
      <!-- Card -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
