<!--Form-->
<mdb-card class="w-25 p-3 wow fadeInRight" data-wow-delay="0.3s">
  <mdb-card-body class="z-depth-2">
    <!--Header-->
    <div class="text-center">
      <h3 class="dark-grey-text">
        <strong>User Info</strong>
      </h3>
      <hr>
    </div>
    <!--Body-->
    <div class="w-100 text-center">
      <ul class="list-unstyled mb-0">
        <li>
          <i class="fa fa-user fa-2x blue-text"></i>
          <p>Joni G</p>
        </li>
        <li>
          <i class="fa fa-envelope fa-2x blue-text"></i>
          <p>contact@example.com</p>
        </li>
        <li>
          <i class="fa fa-map-marker fa-2x blue-text"></i>
          <p>San Francisco, CA 94126, USA</p>
        </li>
        <li>
          <i class="fa fa-briefcase fa-2x blue-text"></i>
          <p class="mb-0">+ 01 234 567 89</p>
        </li>
      </ul>
    </div>
  </mdb-card-body>
</mdb-card>
<!--/.Form-->