<!-- Start your project here-->



<div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">

    <div>
      <div style="height: 100vh">
        <div class="flex-center align-middle">



          <!-- Material form login -->
          <div class="justify-content-center">


            <mdb-card>

              <mdb-card-header class="warning-color white-text text-center py-4">
                <h5>
                  <strong>Sign in</strong>
                </h5>
              </mdb-card-header>


              <!--Card content-->
              <mdb-card-body class="px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;">

                  <!-- Email -->
                  <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
                    <label for="materialLoginFormEmail">E-mail</label>
                  </div>

                  <!-- Password -->
                  <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
                    <label for="materialLoginFormPassword">Password</label>
                  </div>



                  <!-- Sign in button -->
                  <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit">Sign in</button>

                  <!-- Register -->
                  <p>Not a member?
                    <a href="">Register</a>
                  </p>

                  <!-- Social login -->
                  <p>or sign in with:</p>
                  <!--Facebook-->
                  <button type="button" mdbBtn size="lg" class="btn-fb waves-light primary-color-dark" mdbWavesEffect><i
                      class="fa fa-facebook left"></i>Facebook</button>


                </form>
                <!-- Form -->

              </mdb-card-body>

            </mdb-card>
          </div>
          <!-- Material form login -->

        </div>
      </div>
      <!-- /Start your project here-->
    </div>

</div>
