<div class="flex-center align-middle">
  <div class="justify-content-center">
    <mdb-card>
      <!-- Default form contact -->
      <form #postForm="ngForm" class="text-center border border-light p-5">

        <!-- Content -->
        <div class="form-group">
          <textarea name="Content" [(ngModel)]="post.Content" class="form-control rounded-0" id="contentId" rows="3" placeholder="What's on your mind..." required></textarea>
        </div>
        <!-- tags -->
        <tag-input [(ngModel)]="tags"  name="Tags"  [onlyFromAutocomplete]="true">
          <tag-input-dropdown [autocompleteObservable]="requestedTags" [identifyBy]="'Id'" [displayBy]="'Email'"></tag-input-dropdown>
        </tag-input>

        <!-- images -->
        <div class="file-field md-form">
          <div class="btn btn-info btn-sm float-center">
            <span>Choose pics</span>
            <input  class="form-control file-input" type="file" (change)="onFileChanged($event)" accept="image/*">
          </div>
        </div>
        <img id=uploaded-img [src]="imgSrc" class="rounded mx-auto d-block" style="width: 200px" [alt]="post.pic.name" *ngIf="imgSrc">
        <br>



        <!-- Send button -->
        <button [disabled]="!postForm.form.valid" class="btn btn-info btn-block" type="submit" (click)="onSubmit()">Post</button>


      <!-- Default form contact -->
      </form>
    </mdb-card>
  </div>
</div>






